
body {
    background-color: green;
    justify-content: center;
}

.board {
    display: flex;
    justify-content: center;
    align-content: center;
}

p {
    display: inline;
}

div {
    display: block;
    margin: 0px;   
}

.button {
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(128, 128, 128);
    border-width: 0px;
    
}

:hover.button {
    background-color: rgb(64, 64 ,64);
}

.flexbox-container {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}